<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

     			<div class="panel panel-default">
					<div class="panel-heading">Mi cuenta</div>
						<div class="panel-body">
							<p><%= current_user.first_name %></p><br>
							<p><%= current_user.email %></p><br>

						

						</div>

				</div>

			
    </div>
    <div class="col-md-3"></div>
  </div>
</div>




