<br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="panel-group" id="accordion">

          <div class="panel panel-default">
            
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#section1">
                  ¿Cómo gano puntos?
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="section1">
              <div class="panel-body">
                <ol>
                <li>Visita los comercios participantes haciendo clic en <a href="/merchants">este link</a> o en el botón de la extrema izquierda "Comercios"</li><br>
                <br><br>

                <li>Cuando vayas a consumir muestra tu código QR al comercio para acumular puntos</li><br>
                <%= image_tag "welcome_tour_codigoqr.png" %><br><br>

                <li>Infórmate de cuántos puntos tienes en la sección "Crédito" y descubre los beneficios de cada Comercio</li><br><br>
              </ol>
              </div>
            </div>


          </div>

          <div class="panel panel-default">
            
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#section2">
                  ¿Los puntos de un comercio son válidos en otro comercio?
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="section2">
              <div class="panel-body">
                No, los puntos de un comercio solo son válidos para ese comercio. No se pueden mezclar. 
              </div>
            </div>


          </div>

          <div class="panel panel-default">
            
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#section3">
                  ¿Hay algún límite de monederos o límite de crédito?
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="section3">
              <div class="panel-body">
                No, dentro de tu misma cuenta puedes tener tantos monederos como comercios estén inscritos. Y tampoco existe un límite de crédito.
              </div>
            </div>


          </div>


          <div class="panel panel-default">
            
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#section4">
                  ¿Si pierdo mi telefono pierdo mis puntos?
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="section4">
              <div class="panel-body">
                No, puedes entrar desde cualquier otro dispositivo con conexión a Internet y acceder a tu datos. En caso de perder tu telefono te recomendamos <a href="/users/edit">cambiar tu contraseña</a>.
              </div>
            </div>


          </div>



        </div>


      </div>  
    </div>
