<br>

<div class="panel panel-default">
  <div class="panel-heading">Mi código QR</div>
  <div class="panel-body">
    <table class="center">
                <% @qr.modules.each_index do |x| %>
                  <tr> 
                <% @qr.modules.each_index do |y| %>
                        <% if @qr.dark?(x,y) %>
                          <td class="black"/>
                        <% else %>
                          <td class="white"/>
                      <% end %>

                      
                    <% end %>
                  </tr>
                <% end %>
          </table>
  </div>
  <div class="panel-footer">
      Muesta este código QR en los comercios para ganar y pagar con puntos. 
    </div>
</div>