<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Excelente! <%= @user.first_name %> Se te han abonado puntos.</h1>
    <p>
      Para ver tus puntos has login www.volveras.mx<br/>
    </p>
    <p>
    </p>
    <p>Que tengas un excelente dia!</p>
  </body>
</html>