<br><br><br>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h5>Listado de Rewards</h5></div>
    <ul class="list-group">
      <a href="/rewards/new" class="list-group-item icon-plus-sm">Crear nuevo premio</a>
      <% @rewards.each do |reward| %>
          <a href="/rewards/<%= reward.id %>/edit" class="list-group-item"><%= reward.merchant_id %> | <%= reward.name %></a>
          </li>
      <% end %>
    </ul>
</div>

