<br><br><br>
<div class="container">

	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h5>Premio</h5></div>
	    <p><%= @reward.name %></p>
	    <p><%= @reward.merchant %></p>
	    <p><%= @reward.credits %></p>
	</div>

</div>

