<ul class="list-group">
    <% if current_user.try(:admin?) %>
      <a href="/merchants/new" class="list-group-item icon-plus-sm">Crear nuevo comercio</a>
      <% end %>
      
    <% @merchants.each do |merchant| %>
        <a href="/merchants/<%= merchant.id %>" class="list-group-item"><%= merchant.name %></a>
    <% end %>
</ul>

               


  