<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

     <div class="panel panel-default">
        <div class="panel-heading"><h4>Mi c贸digo QR</h4></div>
          <div class="panel-body">
            
            <table class="center">
              <% @qr.modules.each_index do |x| %>
                <tr> 
              <% @qr.modules.each_index do |y| %>
                      <% if @qr.dark?(x,y) %>
                        <td class="black"/>
                      <% else %>
                        <td class="white"/>
                    <% end %>

                    
                  <% end %>
                </tr>
              <% end %>
            </table>

            </div>
            
            <div class="panel-footer">

            <h4>Tips</h4>

            <ol>
              <li>Presenta este c贸digo QR en los comercios para que lo escaneen y puedas ganar y pagar con puntos.</li>
              <li>Si no tienes internet todo el tiempo, te recomendamos guardar tu c贸digo como imagen en tu telefono.</li>
              <li>Si no tienes celular, puedes imprimir tu c贸digo y presentarlo de la misma manera.</li>
            </ol>

          </div>
        </div>
  
    </div>
    <div class="col-md-3"></div>
  </div>
</div>