<br><br>

<div data-role="content">
    <ul data-role="listview">
    <% @credits.each do |credit| %>
    <li>
        <%= link_to credit_path(credit) do %>
        <h3><%= credit.user.first_name %></h3><p><%= credit.amount %></p>
        <% end %>
    </li>
    <% end %>
    </ul>
</div>
