<p>Hola <%= @resource.email %>!</p>

<p>Alguien solicitó un link para cambiar tu contraseña. Lo puedes hacer a través del siguiente link.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si no fuiste tu, ignora este correo.</p>
<p>Tu contraseña no cambiará a menos de que accedas al link anterior crees una nueva.</p>
